// colors
$backgroundPrimary: #212121;
$backgroundPrimary--darker: #191919;

// fonts
$headingFont: "Quicksand", sans-serif;
$regularFont: "Roboto", sans-serif;

// text-colors
$colorPrimary: #ffff;
$colorSecondary: rgb(73, 73, 73);
$colorContainer: #37474f;

// gutters

$Padding--primary: 0.5rem;
$gutter--primary: 2rem;

// font-sizes:
$font--cta: 5rem;
$font--regular: 1rem;
$font--heading: 1em;

// box-shadows
$shadowContainer: #00000030 1px 1px 12px 12px;
