@import "../../Sass/variables";
@import "../../Sass/typography";

.Namelist {
  display: flex;
  flex-wrap: wrap;
  padding: $gutter--primary;
  width: 80%;
  height: 50vh;
  background-color: $colorSecondary;
  box-shadow: $shadowContainer;
  border-radius: 15px;
}
