@import "../../Sass/variables";
@import "../../Sass/typography";

.input__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: $shadowContainer;
  background-color: $colorSecondary;
  padding: 2rem;
  height: 2rem;
  border-radius: 10rem;
  transition: width 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.searchbar {
  font-size: 14px;
  line-height: 1;
  background-color: transparent;
  width: 100%;
  border: none;
  color: white;
  transition: margin 300ms cubic-bezier(0.645, 0.045, 0.355, 1);

  &:focus,
  &:active {
    outline: none;
  }
  &::placeholder {
    color: white;
  }
}

.search__btn {
  line-height: 1;
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
}
