@import "./Sass/global";
@import "./Sass/variables";
@import "./Sass/typography";

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search__container {
  height: 20vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 $Padding--primary;
}

.name__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: auto;
  overflow-wrap: "break-word";
}
